.title {
    text-align: center;
    margin: 100px 0 50px;
}
.form {
    display: block;
}
.formItem {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: 10px 10px 10px 40px;
    border-radius: 18px;
    border-color: transparent;
    margin-right: 0;
}
.labelItem :first-child {
    margin-bottom: 8px;
}
.box {
    flex: 50%;
    padding: 10px;
}
.registerBox {
    display: flex;
}
.btn {
    width: 100%;
    color: white;
    font-size: 15px;
    background-color: rgb(115, 202, 88);
    padding: 10px;
    border-radius: 18px;
    border-color: transparent;
    margin: 25px 0 50px;
    /* transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
}
.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background-color: #d19ae2;
    color: #fff;
    /* transform: scale(1.01); */
}
.avatar {
    width: 250px;
    border-radius: 8px;
}
.boxAvatar {
    flex: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameBox {
    position: relative;
}
.nameBox:hover > .icon {
    fill: rgb(124, 124, 124);
}
.icon {
    position: absolute;
    width: 14px;
    height: 14px;
    fill: rgb(80, 79, 79);
    left: 5%;
    top: 30%;
}
