body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;

    padding: 50px;

    height: 1000px;
    background: linear-gradient(45deg, #4225c4, #be35e7);

    background-repeat: no-repeat;
}
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}
